<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GroupTesting">
    <test name="Groupingtest">

        <groups>

            <run>
                <include name="IMDB"/>
                <exclude name="Fail"/>
<!--                <include name="Positive"/>-->
<!--                Covid tests aren't working because sending too many requests?
                    Have to pay monthly to send more requests I believe         -->
            </run>

        </groups>

        <classes>
            <class name="main.java.TestCases"> </class>
        </classes>

    </test>
</suite>